.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.app_description {
  /* calc font weight to be responsive */
  font-weight: calc(500 + 0.5vw);
  line-height: 1.5;
  font-size: calc(10px + 2vmin);
  letter-spacing: 0.00938em;
  color: rgb(0, 0, 0);
  margin-bottom: 1rem;
  margin-top: 6rem;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.sign_button {
  background-color: #1c1c1c;
  color: #e5e5e5;
  font-size: 1.25rem;
  border-radius: 20px;
  width: 150px; /* Set the width as desired */
  height: 50px; /* Set the height as desired */
  justify-content: center; /* To center text horizontally within the button */
  align-items: center; /* To center text vertically within the button */
  cursor: pointer;
  margin-top: 5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    /* make the text inside the button appear centered */
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  width: auto;
  max-width: 90%;
}
