

.dashboard-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  height: 100%;
}

.doughnut-container {
  grid-area: 1 / 1 / 3 / 2;
  margin-top: 5%;
}
.bar-container {
  margin-top: 5%;
  margin-right: 15%;
  grid-area: 1 / 3 / 3 / 3;
}
.area-container {
  margin-top: 5%;
  margin-right: 15%;
  grid-area: 2 / 3 / 3 / 3;
}
