/* Base Styles */
nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 60px;
    padding-top: 60px;
    position: fixed;
    right: 0;
    z-index: 100;
    background: rgba(0, 0, 0, .2);
    box-shadow: -2px 0 4px rgba(0, 0, 0, .1);
    overflow: hidden;
    transform: translateX(0);
    transition: all 0.3s ease-in-out, width ease .6s;
}

nav i {
    order: 2;
    color: black; /* Changed color to white */
    margin: 18px 0 0 40px;
    padding-right: 0;
    vertical-align: text-bottom;
    transition: color 0.3s;
}

/* change nav i color to white when menu is checked */
#menu:checked ~ nav i {
    color: white;
}


/* Reset */
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    line-height: 60px;
    padding-right: 17px;
    margin: 0;
    white-space: nowrap;
    color: white; /* Changed color to white */
    cursor: pointer;
    transition: background-color 0.3s, color 0.6s;
}

/* Icon Styles */
.icon {
    display: block;
    width: 24px;
    height: 24px;
    padding: 16px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.icon .menu,
.icon .menu::before,
.icon .menu::after {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    position: absolute;
    background: black;
    transition: all ease-in-out .3s;
}

/* change to white when menu is checked */
#menu:checked + .icon .menu,
#menu:checked + .icon .menu::before,
#menu:checked + .icon .menu::after {
    background: white;
}




.icon .menu {
    top: 27px;
    right: 18px;
}

.icon .menu::before {
    top: -6px;
}

.icon .menu::after {
    top: 6px;
}

.icon:hover .menu,
.icon:hover .menu::before,
.icon:hover .menu::after {
    background: #00c3ff;
}

#menu:checked + .icon:hover .menu::before,
#menu:checked + .icon:hover .menu::after {
    background: #00c3ff;
}

label.icon {
    position: fixed;
    right: 0;
    z-index: 200;
}

input#menu {
    display: none;
}

/* Hover Effects */
nav li:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #00c3ff;
}

nav li:hover i,
.icon:hover .menu,
.icon:hover .menu::before,
.icon:hover .menu::after {
    color: #00c3ff;
}

/* do the same when menu is checked */
#menu:checked ~ nav li:hover i,
#menu:checked + .icon:hover .menu,
#menu:checked + .icon:hover .menu::before,
#menu:checked + .icon:hover .menu::after {
    color: #00c3ff;
}

/* Menu Checked */
#menu:checked + .icon .menu {
    background: transparent;
}

#menu:checked + .icon .menu::before {
    transform: rotate(45deg);
}

#menu:checked + .icon .menu::after {
    transform: rotate(-45deg);
}

#menu:checked + .icon .menu::before,
#menu:checked + .icon .menu::after {
    top: 0;
    transition: top ease .3s, transform ease .3s .3s;
}

#menu:checked ~ nav {
    width: 200px;
    right: 140px;
    transform: translateX(140px);
    background: rgba(0, 0, 0, .6);
}

#menu:checked ~ .app-container {
    transform: translateX(-140px);
}


/* Side Menu Styles */
.side-menu a {
    text-decoration: none;
    color: #00c3ff; /* Changed color to white */
}

.side-menu a:visited,
.side-menu a:hover,
.side-menu a:active {
    color: #00c3ff; /* Changed color to white */
}


