.page_container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex; /* Make this a flex container */
  height: 100vh; /* Ensure it takes the full viewport height */
  align-items: center; /* Center children vertically */
  justify-content: center; /* Center children horizontally */
}



/* Styles for form container */
/* make everythnig centered veritcly */
.form_container {
    /* background black and semi transparent */
    background-color: rgba(0, 0, 0, 0.9);   
    color: white;
    padding: 20px;
    text-align: center;
    max-width: 400px; /* Make the container responsive to its parent */
    width: 100%; /* Set a default width */
    max-height: 500px; /* Set a maximum height */
    height: auto; /* Ensure that the container height adapts based on content */
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    
  }
  
  /* Styles for the "Sign In" heading */
  .form_container h2 {
    font-weight: bold;
  }
  
  /* Styles for form groups (label + input) */
  .form_group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
  /* Styles for labels */
  .form_group label {
    flex: 1;
    margin-right: 10px;
    text-align: left;
  }
  
  /* Styles for inputs */
  .form_group input[type="email"],
  .form_group input[type="password"] {
    flex: 3;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
  }
  
  /* Style the submit button as needed */
  .form_container button[type="submit"] {
    background-color: #00c3ff;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;

  }
  
  /* Center-align the submit button */
  .form_container button[type="submit"] {
    margin: 0 auto;
    display: block;
  }
  
/* Add styles for your app logo */
.app_logo {
  max-width: 200px;
  height: auto;
  top: 10px; /* Adjust as per requirement */
  left: 10px; 
  padding: 10px;
  z-index: 2; /* Making sure it's above other elements */
  position: absolute; 
}
  