/* AddExpense.css */

.income-outcome-form-container {
  background-color: rgba(255, 255, 255, 0);
  padding: 20px;
  max-width: 300px;
  margin: 0 auto;
  transition: background-color 0.3s; /* Add a smooth transition effect */
}
form {
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}

label {
  display: block; /* Display labels as blocks for better spacing */
  font-weight: bold; /* Make labels bold */
  margin-bottom: 10px; /* Add space below labels */
}

input[type="text"] {
  width: 90%; /* Make the input field take up the full width */
  padding: 8px; /* Add padding to the input field */
  margin-bottom: 10px; /* Add space below the input field */
  border: 1px solid #ccc; /* Add a border to the input field */
  border-radius: 4px; /* Add rounded corners to the input field */
}

select {
  width: 100%; /* Make the select element take up the full width */
  padding: 8px; /* Add padding to the select element */
  margin-bottom: 10px; /* Add space below the select element */
  border: 1px solid #ccc; /* Add a border to the select element */
  border-radius: 4px; /* Add rounded corners to the select element */
}

button[type="submit"] {
  border-radius: 20px;
  width: 80px;
  height: 40px;
  margin: 0 auto;
  background-color: #090a0b;
  color: white;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover[type="submit"] {
  background-color: #00c3ff;
  color: black;
}

/* Dark mode styles for the form */

.dashboard_page_container.dark h2,
.dashboard_page_container.dark label {
  color: #ccc; /* Brighter text for dark mode */
}

.dashboard_page_container.dark input[type="text"],
.dashboard_page_container.dark select {
  background-color: #ffffff15; /* Darker input background for dark mode */
  color: #eee; /* Brighter text color for inputs and selects in dark mode */
  border-color: #555; /* Slightly brighter border for dark mode */
}

.dashboard_page_container.dark select option {
  background-color: #555; /* Dark background for options in dark mode */
  color: #eee; /* Brighter text color for options in dark mode */
}

.dashboard_page_container.dark button[type="submit"] {
  background-color: #ffffff66; /* Brighter button color for dark mode */
  color: rgb(255, 255, 255); /* Dark text for the bright button */
}

.dashboard_page_container.dark button:hover[type="submit"] {
  background-color: #3083ad; /* Slightly darker hue on hover for contrast */
  color: white; /* White text on hover */
}

/* change bg color of date input to transparent on dark mode */
.dashboard_page_container.dark input[type="date"] {
  background-color: rgba(255, 255, 255, 0.236);
  color: #eee;
}

/* Dark mode styles for Transactions */

.transactions_page_container.dark .transactions_table {
  background: #404040;
}

.transactions_page_container.dark th,
.transactions_page_container.dark td {
  color: #ccc; /* Brighter text for dark mode */
}

.transactions_page_container.dark tbody tr:hover {
  background: #565656;
}

.transactions_page_container.dark .material-icons {
  color: #ffffff;
}

.transactions_page_container.dark .modal {
  background-color: rgba(
    0,
    0,
    0,
    0.85
  ); /* Slightly darker overlay for dark mode */
}

.transactions_page_container.dark .modal-content {
  background-color: #4f5f64;
  color: #eee; /* Brighter text color for dark mode */
}

.transactions_page_container.dark .modal-content input[type="text"],
.transactions_page_container.dark .modal-content select,
.transactions_page_container.dark .modal-content input[type="date"],
.transactions_page_container.dark .modal-content input[type="number"] {
  background-color: #ffffff15; /* Darker input background for dark mode */
  color: #eee; /* Brighter text color for inputs and selects in dark mode */
  border-color: #555; /* Slightly brighter border for dark mode */
}
