.date-time-selector-buttons {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  transition: all 0.5s ease-in-out;
}

.date-time-selector-buttons button {
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
  background-color: #bbbbbb8c;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: all 0.5s, transform 0.2s ease-in-out;
}

.date-time-selector-buttons button:hover {
  background-color: #226cbbc7;
  color: white;
  transform: translateY(-3px);
}

.date-time-selector-datepickers {
  display: flex;
  align-items: center;
  opacity: 0;
  max-height: 0; /* Updated from height */
  overflow: hidden;
  visibility: hidden; /* Add this */
  transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out,
    visibility 0.5s ease-in-out;
}

.date-time-selector-datepickers.show {
  opacity: 1;
  max-height: 100px; /* This is an arbitrary value. Ensure it's large enough to contain your datepickers */
  visibility: visible; /* Add this */
}

.date-time-selector-datepickers > div {
  margin-right: 15px;
  margin-left: 1px;
}

.date-time-selector-datepickers label {
  display: block;
  margin-bottom: 5px;
}

.date-time-selector-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.date-time-selector-buttons button i {
  font-size: 18px;
  /* center text within button */
  display: flex;
  align-items: center;
  justify-content: center;
}
